@import "tailwindcss";
 .app-container {
    @apply relative bg-[#000319] bg-cover bg-no-repeat;
    background-image: url('bg.png');
  }

  
  
  body{
    margin:0; 
    
  }
  .w-100 {
  width: 100%;
}

  
 